@import 'styles/variables.scss';

.modal {
    background: white;
    border:1px solid $accent;
    box-shadow: 1px 1px 1px $accent;
    display:flex;
    flex-direction:column;
    height:auto;
    width: auto;
    top:50%;
    left:50%;
    padding:0;
    position:fixed;
    transform: translate(-50%,-50%);
    h2 {
      background-color:$accent;
      font-size:1rem;
      margin:0;
      padding:0.4em 0.8em 0.4em 0.8em;
      text-align:center;
    }
    .modal-body {
      margin:0.2em;
    }
  }
