.chat{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    .chatDisplay {
        flex: 1
    }
    .messageInput {
        display:flex;
        .text-input {
            flex:1;
        }
    }
}