.settings {
    display:flex;
    height:100%;
    align-items: flex-start;  
    flex-direction: column;
    h2 {
        font-size:1em;
        font-weight:600;
    }
    button {
        width:10em;
    }
    .button-ready-state {
        background-color:greenyellow;
    }
    .button-not-ready-state {
        background-color:lightcoral;
    }
    .radio-button-group {
        align-self:stretch;
        flex:1;
        margin:4px;
    }
}