.settings {
    display:flex;
    height:100%;
    align-items: flex-start;  
    flex-direction: column;
    h2 {
        font-size:1em;
        font-weight:600;
    }
    .settings-container {
        align-self:stretch;
        background-color:green;
        flex:1;
        margin:4px;
    }
}