@import 'styles/variables.scss';

.c-room {
  display: grid;
  flex: 1;
  grid: 6em 1em 2fr 1em 1fr 1em 1fr / 1fr;
  grid-template-areas:
    'title'
    '.'
    'chat'
    '.'
    'settings'
    '.'
    'userlist';
  padding: 1em;
  overflow-y: auto;
  .c-room--h1 {
    grid-area: title;
  }
  .c-room--item__chat {
    grid-area: chat;
  }
  .c-room--item__settings {
    grid-area: settings;
  }
  .c-room--item__userlist {
    grid-area: userlist;
  }
}

@media only screen and (min-width: $size-min-desktop) {
  .c-room {
    grid: 6em 1em 1fr 1em 1fr / 2fr 1em 1fr;
    grid-template-areas:
      'title title title'
      '. . .'
      'chat . userlist'
      'chat . .'
      'chat . settings';
  }
}
