@import 'styles/variables.scss';

body,
html,
#root,
.c-app {
  background-color: $background;
  color: $fontColor;
  font-family: 'Verdana';
  height: 100vh;
}

.c-app {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
