header {
    background-color:red;
    padding:1em;
    & > * {
        display:inline;
    }
    h1 {
        font-size: 4rem;
    }
    & > a > .logo {
        height: 5em;
        margin-right:1em;
        width: 5em;
    }
}